.overview {
  background-color: #fff;
  color: #000;
  h1 {
    text-transform: capitalize;
  }
  h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 46px;
    margin-left: 25px;
    margin-bottom: -20px;
  }
  .show-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc7c7;
  }
  .account-balance {
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    &:nth-child(4) {
      margin-left: 25px;
    }
    &:not(:nth-child(4)) {
      margin-left: 25px;
    }
    .balance-box {
      border: 4px solid;
      border-image-slice: 1;
      border-width: 1px;
      box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.25);
      color: #000;
      width: 315px;
      height: 179px;
      padding: 25px 41px 0px 42px;
      &.debit {
        border-image-source: linear-gradient(to left, #3431c2, #cd2525);
      }
      &.credit {
        border-image-source: linear-gradient(to left, #254acd, #31c285);
      }
      .balance-title {
        font-size: 23px;
        font-weight: 500;
        &.new {
          font-size: 17px;
          color: #535353;
        }
      }
      img {
        margin-top: 27px;
      }
      span {
        color: #2366b5;
        font-weight: 700;
        display: inline-block;
        margin-top: 35px;
        &.money {
          font-size: 27px;
        }
        &.lira {
          font-size: 22px;
          margin-left: 10px;
        }
      }
    }
  }
}
