.overview {
  background-color: #fff;
  color: #000;
  .account-balance {
    margin-top: 46px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc7c7;  
    h3 {
      font-size: 25px;
      font-weight: 500;
    }
    main {
      display: flex;
      flex-wrap: wrap;
      margin-top: 8px;
      .balance-box {
        border: 1px solid #e7e7e7;
        border-radius: 2px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        width: 315px;
        height: 179px;
        padding: 21px 61px 0px 62px;
        .balance-title {
          font-size: 21px;
          font-weight: 800;
          &.new {
            font-size: 17px;
            color: #535353;
          }
        }
        img {
          margin-top: 27px;
        }
        span {
          color: #2366b5;
          font-weight: 800;
          display: inline-block;
          margin-top: 35px;
          &.money {
            font-size: 40px;
          }
          &.lira {
            font-size: 30px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
