.profile {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  .profile-card {
    width: 45%;
    min-width: 480px;
    height: 260px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    .head-img {
      .cover {
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
        width: 100%;
        height: 120px;
      }
      .side {
        position: relative;
        display: flex;
        justify-content: space-around;
        .profile-img {
          position: absolute;
          left: 10px;
          top: -25px;
          width: 140px;
          height: 140px;
          border-radius: 50%;
          object-fit: cover;
        }
        .content {
          height: 120px;
          margin-left: 135px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: default;
          .username {
            text-transform: capitalize;
            text-align: center;
            font-weight: 700;
            letter-spacing: 1px;
          }
          p:not(.username) {
            display: flex;
            align-items: center;
            font-size: 14px;
            svg {
              margin-right: 1rem;
              font-size: 19px;
            }
          }
          .email {
            letter-spacing: -0.28px;
          }
          .city {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .profile-form {
    width: 50%;
    height: 492px;
    padding: 2rem;
    margin-left: 2.5%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    form {
      display: flex;
      flex-direction: column;
      input {
        height: 40px;
        border: 1px solid rgba(10, 37, 64, 0.35);
        box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
        padding: 1rem;
        &:focus {
          border-color: #2366b5;
        }
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
      .row {
        margin-top: 20px;
        &.i {
          margin-top: 0px;
        }
        input {
          width: 48%;
          &:last-child {
            margin-left: 4%;
          }
        }
        select {
          height: 40px;
          width: 48%;
          margin-left: 4%;
          background: transparent;
          border: 1px solid rgba(10, 37, 64, 0.35);
          padding: 10px;
          box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: rgb(26, 127, 221);
        margin-top: 20px;
      }

      button {
        width: 40%;
        margin-left: 30%;
        margin-top: 20px;
        height: 30px;
        border-radius: 8px;
        background-color: #2366b5;
        color: #fff;
      }
    }
  }
}
